{{ 'section-impact-breakdown.css' | asset_url | stylesheet_tag }}

<div id="impact-breakdown" class="impact-breakdown-section">
  <h2 class="impact-breakdown-title">{{ section.settings.title }}</h2>
  <div class="impact-breakdown-container page-width">
    {% for block in section.blocks %}
      <div class="impact-breakdown-item">
        <h3 class="impact-breakdown-item-title">{{ block.settings.title }}</h3>
      </div>
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Impact Breakdown",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Impact Breakdown"
    }
  ],
  "blocks": [
    {
      "type": "item",
      "name": "Item",
      "limit": 3,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "01. MEDICAL SUPPLIES"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Impact Breakdown",
      "category": "ADVANCED LAYOUT",
      "blocks": [
        {
          "type": "item"
        },
        {
          "type": "item"
        },
        {
          "type": "item"
        }
      ]
    }
  ]
}
{% endschema %}
