<section class="page">
  <div class="container page__inner">
    <header class="page__header">
      <h1 class="page__title">{{ page.title | escape }}</h1>
    </header>
    <div class="page__content rte">
      {{ page.content }}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Page",
  "tag": "section",
  "class": "section-page",
  "settings": []
}
{% endschema %}
