<section class="not-found">
  <div class="container not-found__inner">
    <h1 class="not-found__title">{{ '404.title' | t }}</h1>
    <p class="not-found__text">{{ '404.subtitle' | t }}</p>
    <a class="btn btn--light not-found__cta" href="{{ routes.root_url }}">{{ '404.cta' | t }}</a>
  </div>
</section>

{% schema %}
{
  "name": "404",
  "tag": "section",
  "class": "section-404",
  "settings": []
}
{% endschema %}
