
.section-share-wear {
    background-color: #ffffff;
    color: #000000;
}

.section-share-wear .container {
    padding: 40px 20px;
}

.section-share-wear .share-wear-block {
    margin-bottom: 60px;
    position: relative;
}

.section-share-wear .header-action-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.section-share-wear .section-title-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 20px;
}

.section-share-wear .section-title-row .main-heading {
    margin-bottom: 0;
    margin-top: 0;
}

.section-share-wear .section-icon {
    height: 50px;
    width: auto;
    margin-right: 15px;
}

.section-share-wear .red-subheading {
    color: #c30100;
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: normal;
    line-height: 1.1;
}

.section-share-wear .body-text-list p {
    margin-bottom: 8px;
    line-height: 1.4;
    font-size: 1.6rem;
}

.section-share-wear .btn-red {
    background-color: #c30100;
    color: #f7f7f7;
    border: none;
    padding: 12px 30px;
    border-radius: 50px;
    font-size: 2rem;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

@media(min-width: 600px) {

    .section-share-wear .btn-red {
        position: absolute;
        bottom: 0;
        right: 0;
    }

}

.section-share-wear .footer-italic {
    color: #c30100;
    font-style: italic;
    text-align: right;
    font-size: 1.8rem;
    margin-top: 20px;
    font-weight: 600;
}
