
.section-tell {
    background-color: #000000;
    color: #ffffff;
}

.section-tell .container {
    padding: 40px 20px;
}

.section-tell .tell-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;
}

.section-tell .tell-left, .section-tell .tell-right {
    flex: 1 1 400px;
}

.section-tell .section-title-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.section-tell .section-icon {
    height: 50px;
    width: auto;
    margin-right: 15px;
}

.section-tell .red-subheading {
    color: #E02828;
    margin-bottom: 20px;
    font-weight: normal;
}

.section-tell .body-text-list p {
    margin-bottom: 8px;
    line-height: 1;
    font-size: 1.6rem;
}

.section-tell .form-title {
    color: #E02828;
    margin-bottom: 25px;
}

.section-tell .form-group {
    margin-bottom: 15px;
}

.section-tell .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 2rem;
}

.section-tell .form-group label span {
    color: #E02828;
}

.section-tell .form-input {
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    border: none;
    font-size: 2rem;
    background-color: #f0f0f0;
    color: #000;
}

.section-tell .form-input::placeholder {
    color: #ccc;
}

.section-tell .form-submit-container {
    text-align: right;
    margin-top: 20px;
}

.section-tell .btn-red {
    background-color: #E02828;
    color: #ffffff;
    border: none;
    padding: 20px;
    border-radius: 50px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    font-size:2rem;
}
