.get-involved {
  background-color: #f4f4f4;
  padding: 4rem 2rem;
  text-align: center;
}

.get-involved__content h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.get-involved__content .button {
  background-color: #000;
  color: #fff;
  padding: 1rem 2rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 1rem;
  display: inline-block;
}
