.join-the-movement-hero {
    background-color: #050505;
    color: #f7f7f7;
    padding: 20px;
}
.join-the-movement-hero .container {
    margin: 0 auto;
}
.join-the-movement-hero .header {
    margin-bottom: 40px;
}
.join-the-movement-hero .logo {
    width: 150px;
    height: auto;
}
.join-the-movement-hero .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}
.join-the-movement-hero .left-column {
    flex: 1 1 30%;
    padding-right: 40px;
}
.join-the-movement-hero .main-title {
    color: #c30100;
    margin-bottom: 20px;
}
.join-the-movement-hero .description {
    margin-bottom: 20px;
    max-width: 400px;
}
.join-the-movement-hero .call-to-action {
    color: #c30100;
    font-style: italic;
}
.join-the-movement-hero .right-column {
    flex: 1 1 60%;
    display: flex;
    align-items: center;
    position: relative;
}

.join-the-movement-hero .half-round-shape-1 {
    position: absolute;
    top:50px;
    width:215px;
    z-index: 99;
    left: -100px;

}
.join-the-movement-hero .half-round-shape-2 {
    position: absolute;
    top: -35px;
    left: 0;
    width: 350px;
    z-index: 1;
    max-width: 2000%;
}

.join-the-movement-hero .steps-list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.join-the-movement-hero .step-item {
    margin-bottom: 30px;
    margin-left: 100px;
}


.join-the-movement-hero .step-item:first-child, 
.join-the-movement-hero .step-item:nth-child(4) {
    margin-left:0;
    margin-right:100px;
}


.join-the-movement-hero .step-item::before {
  content: '';
  background-color: #FFF;
  width: 500px;
  height: 5px;
  line-height: 0;
}

.join-the-movement-hero .step-title {
    font-size: 2rem;
    font-weight: bold;
    letter-spacing:-0.02em;
    margin-bottom: 0;
}
.join-the-movement-hero .step-title span.action {
    color: #c30100;
}
.join-the-movement-hero .step-title span.arrow {
    color: #c30100;
    margin: 0 5px;
}
.join-the-movement-hero .step-title span.subtitle {
    font-size: 2rem;
    letter-spacing:-0.02em;
    color: #c30100;
    line-height: 1 !important;
}
.join-the-movement-hero .step-description {
    font-size: 1em;
    line-height: 1.4;
}
.join-the-movement-hero .step-description p{
    margin-top: 0;
}
.join-the-movement-hero .final-thought {
    text-align: right;
    font-style: italic;
    margin-top: 20px;
}

.join-the-movement-hero .cycle-image-container {
    display: block;
    width: 70%;
    margin-right:5%;
    height:400px;
    flex-direction: column;
}
