.what-we-stand-for-section {
  background-color: #c30100;
  color: #f7f7f7;
  padding: 50px 0;
  text-align: center;
}

.what-we-stand-for-title {
  margin-bottom: 50px;
  font-weight: 400;
  letter-spacing: -0.02em;
}

.what-we-stand-for-container {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.what-we-stand-for-item {
  border: 1px solid #ffffff;
  padding: 20px;
  width: 30%;
}

.what-we-stand-for-icon {
  margin-bottom: 20px;
}

.what-we-stand-for-item-title {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 24px;
  margin-bottom: 10px;
}

.what-we-stand-for-item-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

@media (max-width: 768px) {
  .what-we-stand-for-container {
    flex-direction: column;
    align-items: center;
  }
  .what-we-stand-for-item {
    width: 100%;
    margin-bottom: 20px;
    box-sizing: border-box;
  }
}
