.membership-comparison-section {
  padding: 50px 0;
  background-color: #050505;
  color: #FFF;
}

.membership-comparison-title {
  text-align: center;
  color: #FFF;
  margin-bottom: 20px;
}

.membership-comparison-subtitle{
  text-align: center;
}

.membership-comparison-table {
  overflow-x: auto;
}

.membership-comparison-table table {
  width: 100%;
  border-collapse: collapse;
}

.membership-comparison-table th {
  border-bottom: 5px solid #ccc !important;
  padding: 15px;
  text-align: left;
  font-size: 1.9rem;
}

.membership-comparison-table td {
  border-bottom: 1px solid #ccc !important;
  padding: 15px;
  text-align: left;
  font-size:1.75rem;
}

