.impact-breakdown-section {
  padding: 50px 0;
  text-align:center;
  background-color: #E02828;
}

.impact-breakdown-title {
  text-align: center;
  margin-bottom: 20px;
  color:#FFF;
}

.impact-breakdown-container {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.impact-breakdown-item {
  text-align: center;
}

.impact-breakdown-item-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.impact-breakdown-text{
  color:#FFF;
}

.impact-breakdown-buttons .button{
  font-size: 2rem;
  color: #000;
  background-color: #FFF;
  padding: 3rem;
}