.impact-two-column-section {
  padding: 50px 0;
}

.impact-two-column-title {
  text-align: center;
  margin-bottom: 20px;
  color: #E02828;
}

.impact-two-column-subtitle {
  text-align: center;
  margin-bottom: 50px;
}

.impact-two-column-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.impact-two-column-left {
  width: 48%;
}

.impact-two-column-right {
  width: 48%;
}

@media (max-width: 768px) {
  .impact-two-column-content {
    flex-direction: column;
  }

  .impact-two-column-left,
  .impact-two-column-right {
    width: 100%;
  }

  .impact-two-column-right {
    margin-top: 20px;
  }
}
