.our-story-section {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.our-story-content {
  width: 60%;
}

.our-story-section-wrapper {
  padding: 50px 0;
}

.our-story-section-wrapper h2 {
  color: #c30100;
  margin: 0;
}

.our-story-section-wrapper h3 {
  margin: 0;
  font-size: 4rem;
}

.our-story-content p {
  font-size: 16px;
  line-height: 1.6;
}

.our-story-quote {
  width: 23%;
  position: relative;
  border: 5px solid #c30100;
  border-radius: 20px;
  margin: 10px 0 10px;
}

.our-story-quote blockquote {
  background-color: #fadadd;
  color: #c30100;
  position: absolute;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  height: 91%;
  width: 90%;
  margin: 5%;
  border-radius: 15px;
  text-align: center;
  padding: 5% 5%;
}

.our-story-quote blockquote::before,
.our-story-quote blockquote::after {
  content: '“';
  color: #c30100;
  position: absolute;
  font-size: 4em;
  font-weight: 900;
  background: #FFF;
  width: 50px;
  height: 40px;
  line-height: 1;
}

.our-story-quote blockquote::before {
  top: -45px;
  left: 10px;
}

.our-story-quote blockquote::after {
  content: '”';
  bottom: -50px;
  right: 10px;
}

.our-story-quote p {
  color: #000;
}

.our-story-quote footer {
  font-style: italic;
  margin-top: 20px;
  color:#000;
}
@media(max-width: 768px) {
  .our-story-section{flex-direction: column;}
}