.how-we-fund-section {
  color: #000000;
  font-family: 'Montserrat', sans-serif;
}

.how-we-fund-top-banner,
.how-we-fund-bottom-banner {
  background-color: #CC0000;
  color: #F7F7F7;
  text-align: center;
  padding: 20px;
}

.how-we-fund-main-header {
  font-weight: bold;
}

.how-we-fund-content-wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.how-we-fund-column-left {
  background-color: #050505;
  color: #F7F7F7;
  width: 50%;
  padding: 20px;
  text-align: center;
}

.how-we-fund-column-left hr{
  margin: 0;
  background-color: #c30100;
}

.how-we-fund-column-right {
  background-color: #FFFFFF;
  color: #000000;
  width: 50%;
  padding: 20px;
  text-align: center;
}

.how-we-fund-impact-title {
  text-transform: uppercase;
}

.how-we-fund-growth-title {
  font-weight: bold;
}

.how-we-fund-impact-subheadline p,
.how-we-fund-growth-subheadline p {
  color: #CC0000;
}

.how-we-fund-section-divider {
  text-align: center;
  margin: 20px 0;
  font-size: 2rem;
}

.how-we-fund-section-divider hr {
  border-top: 1px solid #CC0000;
}

.how-we-fund-visual-flow {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px 0;
}

.how-we-fund-flow-item img {
  width: 50px;
  height: 50px;
}

.how-we-fund-flow-arrow {
  color: #CC0000;
  font-size: 2em;
}

.how-we-fund-percentage-breakdown {
  list-style: none;
  padding-left: 0;
  text-align: left;
}

.how-we-fund-percentage-breakdown li strong {
  color: #CC0000;
}

.how-we-fund-bridge {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.how-we-fund-bridge-circle {
  background-color: #FFFFFF;
  color: #000000;
  border: 2px solid #CC0000;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
}

.how-we-fund-growth-channels ul {
  list-style: none;
  padding: 0;
}

.how-we-fund-growth-channels li {
  margin-bottom: 10px;
}

.how-we-fund-bottom-flow {
  margin-top: 20px;
  text-align: center;
  font-size: 2rem;
  color: #c30100;
  font-weight: 600;
}

@media (max-width: 768px) {
  .how-we-fund-content-wrapper {
    flex-direction: column;
  }

  .how-we-fund-column-left,
  .how-we-fund-column-right {
    width: 100%;
  }

  .how-we-fund-bridge {
    position: static;
    transform: none;
    margin: 20px auto;
  }
}
