.contact-page-section {
  background-color: #000;
  color: #fff;
  padding: 50px 0;
}

.contact-page-container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.contact-page-title-container {
  width:100%;
}

.contact-page-left,
.contact-page-right {
  width: 48%;
}

.contact-page-title {
  color: #E02828;
  margin-bottom: 20px;
}

.contact-page-left p {
  line-height: 1.5;
}

.contact-page-form-group {
  margin-bottom: 20px;
}

.contact-page-form-group label {
  display: block;
  margin-bottom: 5px;
}

.contact-page-form-group input,
.contact-page-form-group textarea {
  width: 100%;
  padding: 10px;
  background-color: #333;
  border: 1px solid #555;
  color: #fff;
}

.contact-page-button {
  background-color: #E02828;
  color: #fff;
  padding: 15px 30px;
  border: none;
  cursor: pointer;
}

.contact-page-direct-contacts h2,
.contact-page-join-movement h2,
.contact-page-follow-resistance h2 {
  margin-bottom: 10px;
}

.contact-page-direct-contacts h3 {
    font-family: 'Bebas Neue', sans-serif;
}

.contact-page-contact-item,
.contact-page-join-movement,
.contact-page-follow-resistance {
  margin-bottom: 30px;
}

.contact-page-contact-item a,
.contact-page-join-movement a {
  color: #fff;
  text-decoration: none;
}

.contact-page-social-links a {
  margin-right: 15px;
}
