.who-we-are-section {
  background-color: #050505;
  color: #f7f7f7;
  padding: 50px 0;
}
.who-we-are-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 20px;
  position:relative;
  border-top:2px dashed #FFF;
}
.who-we-are-left {
  flex-basis: 75%;
  position:relative;
}
.who-we-are-right {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.who-we-are-title {
  font-weight: 500;
  margin: 100px 0 20px;
  transition: font-weight 0.3s ease, letter-spacing 0.3s ease;
  font-family: 'Bebas Neue';
  color: #f7f7f7;
  font-size: 20rem;
  letter-spacing: -0.02em;
  line-height: 0.8;
}
.who-we-are-title.who-we-are-animated-text:hover {
  font-weight: 700;
  letter-spacing: -0.04em;
}
.who-we-are-text {
  font-size: 2em;
  font-family: 'Bebas Neue';
  max-width: 400px;
  line-height:1.5;
}
.who-we-are-logo {
  margin-bottom: 40px;
  width: 60%;
  height: auto;
}
.who-we-are-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
  bottom: 0;
  position: absolute;
  right: 0;
}
.who-we-are-menu-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.5s ease forwards;
}
.who-we-are-menu-item:nth-child(1) { animation-delay: 0.2s; }
.who-we-are-menu-item:nth-child(2) { animation-delay: 0.4s; }
.who-we-are-menu-item:nth-child(3) { animation-delay: 0.6s; }
.who-we-are-menu-item:nth-child(4) { animation-delay: 0.8s; }
.who-we-are-menu-item a {
  color: #f7f7f7;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
  transition: color 0.3s ease;
  font-family: Bebas Neue;
  color: #f7f7f7;
}
.who-we-are-menu-item a:hover {
  color: #c30100;
}
.who-we-are-menu-icon {
  width: 4rem;
  height: 4rem;
  background: #c30100;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  transition: transform 0.3s ease;
}
.who-we-are-menu-icon img {
  width: 2rem;
  height: 2rem;
}
.who-we-are-menu-item a:hover .who-we-are-menu-icon {
  transform: rotate(360deg);
}
.who-we-are-menu-arrow {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #c30100;
}
.who-we-are-button {
  background-color: #c30100;
  color: #f7f7f7;
  padding: 15px 30px;
  text-decoration: none;
  font-size: 2.5em;
  border: none;
  cursor: pointer;
  position: absolute;
  animation: pulse 1.5s infinite;
  bottom:3%;
}

@keyframes pulse {
  0% { box-shadow: 0 0 0 0 #c30100; }
  70% { box-shadow: 0 0 0 20px rgba(255, 0, 0, 0); }
  100% { box-shadow: 0 0 0 0 rgba(255, 0, 0, 0); }
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
