.why-we-exist-section {
  background-color: #050505;
  color: #f7f7f7;
  padding: 50px 0;
}

.why-we-exist-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.why-we-exist-left {
  width: 80%;
}

.why-we-exist-title {
  margin-bottom: 20px;
  text-align:center;
  letter-spacing: -0.02em;
}

.why-we-exist-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.6;
}

.why-we-exist-right {
  width: 15%;
  text-align: right;
}

.why-we-exist-right-text {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 4em;
  text-transform: uppercase;
  line-height: 0.8;
  letter-spacing: -0.03em;
  word-wrap: break-word;
}
