.where-we-are-going-section {
  background-color: #000000;
  color: #ffffff;
  padding: 50px 0;
  text-align: center;
}

.where-we-are-going-container {
  margin: 0 auto;
}

.where-we-are-going-title {
  margin-bottom: 20px;
  font-weight: 400;
  letter-spacing: -0.02em;
}

.where-we-are-going-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  line-height: 1.3;
  margin-bottom: 30px;
  text-align:left;
}

.where-we-are-going-highlight {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 2em;
  color: #c30100;
  margin-bottom: 30px;
  text-align:right;
}

.where-we-are-going-button {
  background-color: #c30100;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  font-weight: bold;
  padding: 15px 30px;
  text-decoration: none;
  text-transform: uppercase;
}
