.projected-fund-allocation-section {
  padding: 50px 0;
  background-color: #c30100;
}

.projected-fund-allocation-title {
  text-align: center;
  color: #FFF;
  margin-bottom: 20px;
}

.projected-fund-allocation-content {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 20px;
  color:#FFF;
  align-items: center;
}

.projected-fund-allocation-content strong{
  color: #000;
}

.projected-fund-allocation-text {
  width: 40%;
}

.projected-fund-allocation-details {
  width: 55%;
}

.projected-fund-allocation-item {
  margin-bottom: 10px;
}

.projected-fund-allocation-footer {
  text-align: center;
  font-style: italic;
}

.projected-fund-allocation-section hr{
  background-color: #FFF;
  margin: 1rem 0;
}
@media (max-width: 768px) {
  .projected-fund-allocation-content {
    flex-direction: column;
  }
  .projected-fund-allocation-text,
  .projected-fund-allocation-details {
    width: 100%;
  }
  .projected-fund-allocation-text {
    margin-bottom: 20px;
  }
}
