.our-story-section {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
}

.our-story-content {
  width: 60%;
}

.our-story-content h1 {
  text-align: center;
  color: #E02828;
  margin-bottom: 10px;
}

.our-story-content h2 {
  text-align: center;
  color: #E02828;
  margin-bottom: 20px;
}

.our-story-content p {
  font-size: 16px;
  line-height: 1.6;
}

.our-story-quote {
  width: 23%;
  position: relative;
  border: 5px solid #E02828;
  border-radius: 20px;
  margin: 100px 0 50px;
}

.our-story-quote blockquote {
  background-color: #fadadd;
  color: #e02828;
  position: absolute;
  font-size: 5em;
  font-weight: 900;
  background: #FFF;
  line-height: 1;
  height: 40px;
  width: 50px;
}

.our-story-quote blockquote::before,
.our-story-quote blockquote::after {
  content: '“';
  color: #E02828;
  position: absolute;
}

.our-story-quote blockquote::before {
  top: -45px;
  left: 10px;
}

.our-story-quote blockquote::after {
  content: '”';
  bottom: -50px;
  right: 10px;
}

.our-story-quote p {
  color: #000;
}

.our-story-quote footer {
  font-style: italic;
  margin-top: 20px;
}
